<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <div th:fragment="jobs-listing" >
  <th:block th:each="job : ${jobs}">
    <table class="job-listing">
      <tr>
        <td class="data-label">ID</td>
        <td th:text="${job.id}"></td>
      </tr>
      <tr>
        <td class="data-label">Name</td>
        <td th:text="${job.name}"></td>
      </tr>
      <tr>
          <td class="data-label">
              <a th:href="@{/list/jobs(column=employer,value=${job.employer})}">Employer</a>
          </td>
          <td th:text="${job.employer}"></td>
      </tr>
      <tr>
          <td class="data-label">
              <a th:href="@{/list/jobs(column=location,value=${job.location})}">Location</a>
          </td>
        <td th:text="${job.location}"></td>
      </tr>
      <tr>
        <td class="data-label">
            <a th:href="@{/list/jobs(column=positionType,value=${job.positionType})}">Position Type</a>
        </td>
        <td th:text="${job.positionType}"></td>
      </tr>
      <tr>
        <td class="data-label">
            <a th:href="@{/list/jobs(column=coreCompetency,value=${job.coreCompetency})}">Skill</a>
        </td>
        <td th:text="${job.coreCompetency}"></td>
      </tr>
    </table>
  </th:block>
</div>
</div>
</body>
</html>